

/* blog */

    .blog-main-txt {
        padding: 140px 160px 120px 95px;
    }
    .blog-main-img {
        background-position: center;
        background-size: cover;
        min-height: 420px !important;
    }
    .post-categories a {
        background-color: #EAEAEA;
        color: #24272A;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 14px;
        padding: 8px;
        margin-right: 10px;
    }
    .post-categories {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
        display: flex;
    }
   /* ul#blog-cats li {
        width: 100%;
        text-align: center;
        background-color: #f2b751;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
    }
    ul#blog-cats {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul#blog-cats li a {
        display: block;
        color: #fff;
        padding: 35px 5px;
        font-size: 22px;
    }
    ul#blog-cats li a:hover {
        background-color: #e6ac48;
    }*/
    #bottom-links-pages {
        justify-content: space-between;
        display: flex;
        margin-top: 40px;
    }
    #bottom-links-pages a {
        margin: 0;
        padding: 0;
    }
    .no-link.article-link-btn {
        opacity: .7;
    }
    .blog-excerpt, .blog-excerpt p {
        margin-top: 0;
        margin-bottom: 40px;
        opacity: 0.7 !important;
        color: #7d7b7a !important;
    }
    .blog-excerpt p {
      opacity: 1;
    }
    .blog-post-title {
        font-size: 36px;
        font-weight: 800;
    }
  /*  #load_more_stories {
        background-color: #e6ac48;
        border: none;
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
        padding: 35px 30px;
        margin: 0;
        display: inline-block;
        width: 100%;
        text-align: center;
    }*/
    #fyre #load_more_stories.btn {
        color: #F4E8D7;
        margin: 70px auto !important;
        padding: 25px 80px;
        font-size: 16px;
    }
   /* #fyre #cat_drop {
        width: 100%;
        background-color: #f2b751;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        display: block;
        color: #fff;
        padding: 35px 5px;
        font-size: 22px;
        -webkit-appearance: none !important;
        -moz-appearance: none;
        border-radius: 0 !important;
        border: none;
        text-align-last: center;
        outline: none;
    }
    #cat_drop_form {
      position: relative;
    }
    #cat_drop_form:before {
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        z-index: 1;
        font-weight: 800;
        font-size: 22px;
        color: #ffffff;
        outline: none !important;
        content: '\f107';
        font-family: Font Awesome\ 5 Pro;
        pointer-events: none;
    }
*/
    /* responsive */

      @media (max-width: 1449px) {
        .blog-main-txt {
            padding: 110px 130px 110px 65px;
        }
      }
      @media (max-width: 1300px) {
        .blog-main-txt {
            padding: 100px 120px 100px 55px;
        }
      }
      @media (max-width: 1199px) {
        .blog-main-txt {
            padding: 90px 110px 90px 45px;
        }
        #fyre h2.blog-post-title {
            font-size: 32px !important;
        }
      }
      @media (max-width: 991px) {
        .blog-main-txt {
            padding: 90px 90px 90px 45px;
        }
      }
      @media (max-width: 767px) {
        .blog-main-txt {
            padding: 80px 80px 80px 35px;
        }
        #fyre h2.blog-post-title {
            font-size: 32px !important;
        }
      }
      @media (max-width: 575px) {
        #fyre h2.blog-post-title {
            font-size: 26px !important;
        }
        .blog-main-txt {
            padding: 60px 15px 60px 15px;
        }
        .blog-main-img {
            display: none;
        }
        .blog-row {
            border-top: 1px solid rgba(125, 123, 122, 0.3);
        }
        .blog-row:first-child {
            border: none;
        }
      }





/* sinlge */

.authpic.fyrelazy {
    height: 52px;
    border-radius: 50%;
}
#post-header .overlay {
    background-image: linear-gradient(180deg, #17191B 3%, #24272A 100%);
    opacity: .55;
}
#post-header .post-categories {
    margin-bottom: 0;
}
.post-meta .middle-content {
    margin-right: 15px;
}


.related-post .post-image {
    height: 290px;
    margin-bottom: 10px;
}
.related-post-content h3 a {
    font-size: 24px;
    color: #000000;
}
.related-post-content .post-cat a {
    background-color: #EAEAEA;
    color: #24272A;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px;
    margin-right: 10px;
    line-height: 34px;
}
.related-post-content .post-date {
    margin-bottom: 10px;
}


.products-slider {
    margin-left: -15px;
    margin-right: -15px;
}
.products-slider .slick-track{
    display: flex;
    padding: 0;
}
.products-slider .slick-slide{
    display: inline-flex !important;
    padding: 0 15px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}
.price {
  font-size: 18px;
  letter-spacing: -0.41px;
  text-align: center;
  line-height: 30px;
  color: #132938;
}
.price del {
  color: #CA4242;
  text-decoration: line-through !important;
}
.product-slide {
    max-width: 220px;
    margin-right: auto;
    margin-left: auto;
}

.cat-img-wrap img {
  margin: 10px auto;
}
.products-slider .slick-track{
    display: flex;
    padding: 0;
}
.products-slider .slick-slide{
    display: inline-flex !important;
    padding: 0 15px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}
.price {
  font-size: 18px;
  letter-spacing: -0.41px;
  text-align: center;
  line-height: 30px;
  color: #132938;
}
.price del {
  color: #CA4242;
  text-decoration: line-through !important;
}
.product-slide {
    max-width: 220px;
    margin-right: auto;
    margin-left: auto;
}

.cat-img-wrap img {
  margin: 10px auto;
}
.woocommerce-loop-category__title {
    font-size: 18px;
    color: #132938;
    letter-spacing: -0.41px;
    line-height: 30px;
}
.product-img-wrap img {
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.product-img-wrap {
    height: 210px;
    position: relative;
    margin-bottom: 20px;
}
.woocommerce-loop-product__title {
    color: #000;
    text-transform: capitalize;
    font-size: 15px;
    padding: .5em 0;
    margin: 0;
}
/*.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    background: #004673;
    margin-top: 20px;
    border-radius: 29.5px;
    padding: 13px 50px;
    color: #fff;
    display: inline-block;
}*/
.product .price {
    color: #000;
    font-size: 16px;
    display: block;
    font-family: 'Futura Book';
    font-weight: 600;
    margin-bottom: .5em;
}
.product .price del {
  color: #CA4242;
  opacity: 1 !important;
    font-weight: normal !important;
  text-decoration: line-through !important;
}
.product .price ins {
    font-weight: normal !important;
}
.products-slider {
    padding: 0 30px;
}
.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}
.slick-prev, .slick-next {
    transform: translateY(calc(-50% - 45px)) !important;
}
.slick-prev:before,
.slick-next:before {
    color: #000;
    font-family: 'Font Awesome 5 Pro' !important;
}

.slick-prev:before {
    content: "\f060" !important;

}

.slick-next:before {
    content: "\f061" !important;
}

.slick-dots li button {
    width: 14px;
    height: 14px;
}

#fyre .products-section .slick-dots {
    margin: 0;
}

.slick-dots li {
    width: auto;
    height: auto;
}

.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover {
    transform: none;
}


@media (max-width: 991px) {
    .related-post {
        margin-bottom: 40px;
    }
    .related-post:last-child {
        margin-bottom: 0;
    }
    .related-post-content {
        max-width: 460px;
        margin: auto;
    }
}
@media (max-width: 767px) {
    .post-meta.d-flex .middle-content:nth-child(3) {
      width: 100%;
      margin-top: 20px;
    }
    .post-meta {
      flex-wrap: wrap;
    }
}
