#nav-banner h3 {
    margin: 0;
}
#nav-banner {
    position: absolute;
    padding: 20px 0;
    left: 0;
    right: 0;
    z-index: 1;
    top: -95px;
    min-height: 95px;
}
#fyre.has-banner #body-contents {
    margin-top: 95px;
}
#off-canvas-nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: -100%;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    overflow: hidden;
}
#logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#logo img {
	max-width: 300px;
}
#off-canvas-nav.open {
    left: 0;
}
#mobile-menu-all {
    display: flex;
    justify-content: flex-end;
    padding-top: 90px;
}
#mobile-trigger-close {
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 64px;
    font-weight: 100;
    line-height: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: pointer;
    z-index: 1;
}
#mobile-trigger-close:hover {
  transform: scale(0.9);
}
#mobile-menu-all ul {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
}
#mobile-menu-all li {
    margin-bottom: 20px;
}
#mobile-menu-all li:last-child {
    margin-bottom: 0;
}
#mobile-menu-all a {
    color: #F0EDEB;
    font-weight: 500;
    font-size: 95px;
    line-height: 1;
    display: inline-block;
    font-family: futura-pt, sans-serif;
    cursor: pointer;
}
/*#mobile-menu-all a:hover {
    margin-right: 7px;
}*/
#off-canvas-nav img {
    width: auto;
    max-height: 100vh;
    position: absolute;
    left: 15px;
    transform: translateY(-50%);
    top: 50%;
}


#mobile-menu-all a::after {
    display: block;
    content: '';
    border-bottom: solid 7px #B0ABA6;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    top: 1px;
    position: relative;
    transform-origin: right;
}
#mobile-menu-all .current_page_item a::after,
#mobile-menu-all a:hover::after {
  transform: scaleX(1) !important;
}



/* header */


    #navigation {
        position: absolute;
        top: 0;
        padding: 60px 0;
        display: block;
        z-index: 999;
        width: 100%;
        transition: all .3s ease-in-out;
        letter-spacing: 0;
        background: transparent;
    }

    /*.logged-in #navigation {
        top: 32px;
    }*/
    #navigation .btn {
        margin-bottom: 0;
    }
    #navigation.sticky {
        background-color: rgba(255,255,255,.9);
        box-shadow: 0px 0px 21.2313px rgba(0,0,0,.15);
        padding: 30px 0;
    }


   /* NAV BTN */


    #mobile-btn {       
        width: 86px;
        height: 54px;
        cursor: pointer;
        position: relative;
        right: 0;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 3;
        margin-left: 60px;
    }
    #mobile-btn span {
        display: block;
        background: #1C2933;
        height: 6px;
        position: absolute;
        width: 100%;
        overflow: visible;
    }
    #mobile-btn span.top, #mobile-btn span.bottom {
        width: 75%;
    }
    #mobile-btn span.top {
        top: 0;
    }
    #mobile-btn span.middle {
        top: 50%;
        transform: translateY(-50%);
    }
    #mobile-btn span.bottom {
        bottom: 0;
    }
    #mobile-btn:hover span.top {
      top: 4px;
      width: 90%;
    }
    #mobile-btn:hover span.bottom {
      bottom: 4px;
      width: 90%;
    }
    #mobile-btn span {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition-timing-function: cubic-bezier(0.48, -0.28, 0.41, 1.4);
            transition-timing-function: cubic-bezier(0.48, -0.28, 0.41, 1.4);
    }

    #mobile-btn.active span {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-delay: 0;
            transition-delay: 0;
    -webkit-transition-timing-function: cubic-bezier(0.48, -0.28, 0.41, 1.4);
            transition-timing-function: cubic-bezier(0.48, -0.28, 0.41, 1.4);
    }
    #mobile-btn.active .top {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
    }
    #mobile-btn.active .middle {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    }
    #mobile-btn.active .bottom {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
    }


@media(max-width: 991px) {
    .nav-right .btn {
        display: none;
    }
    #navigation {
        padding: 40px 0 30px;;
    }
    #mobile-btn {
        width: 51px;
        height: 32px;
    }
    #mobile-btn span {
        height: 4px;
    }
    #nav-banner h3 {
        font-size: 26px;
    }
}
@media(max-width: 767px) {
    #mobile-menu-all a {
        font-size: 70px;
    }
    #nav-banner h3 {
        font-size: 20px;
    }
    #mobile-trigger-close {
        font-size: 39px;
    }
}
@media(max-width: 575px) {
    #mobile-menu-all a {
        font-size: 50px;
    }
    #mobile-menu-all a::after {
        border-bottom: solid 4px #B0ABA6;
    }
/*    #nav-banner .d-flex {
        flex-direction: column;
    }
    #nav-banner .btn {
        margin-top: 20px;
    }*/
}



